---
const links = [
  {
    name: "Case Study",
    url: "https://medium.com/@artenanagara",
  },

];

const socialLinks = [
  {
    name: "Instagram",
    url: "https://instagram.com/artenanagara",
    image: "https://cdn.simpleicons.org/instagram/white",
  },
  {
    name: "Twitter",
    url: "https://twitter.com/artenanagara_",
    image: "https://cdn.simpleicons.org/twitter/white",
  },
  {
    name: "TikTok",
    url: "https://www.linkedin.com/in/artena-nagara/",
    image: "https://cdn.simpleicons.org/linkedin/white",
  },
  {
    name: "Github",
    url: "https://github.com/artenanagara",
    image: "https://cdn.simpleicons.org/github/white",
  },
];
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Artena Nagara</title>
  </head>
  <body class="bg-gradient-to-b from-indigo-100 bg-indigo-500">
    <main
      class="max-w-sm w-screen min-h-screen mx-auto shadow-lg py-20 px-5 flex flex-col items-stretch justify-center"
    >
      <div
        class="kotak rounded-lg w-[160px] min-h-[160px] h-[160px] self-center"
      >
        <img
          class="w-full h-full rounded-full"
          src="https://lh3.googleusercontent.com/SDtNjb-6yDSOQZT9Q8q7QJgm3U1wQAA-Kam9x9HXK9ZNjKiZPLANc8iawk689sQJK3gmUKRaPJtXL4pRua2faEO5UNkluKkc0VoaY4WO8fw5-epZemE0UpFA1A4PyE24wIzLYGxvbYPQaZaVaz3BjdtloNUtyTtT9b5S5z92z8viSmsRNBkOnfOPgeGqbZWD0KKMSN0RKQDs3ZxWOLKrrbzcD-3M6M4ghgIFkqRrMIOLn2o3eUKIgXARELjfc7_l9LGKgw6IAat0ryeT8jGfj-dlj1CjV1r8yaeEQSGkSZK7f8hHG7fYzXjF8kJa66X8nnuWI1ol-zyY_ZM_rzfkDNQBbO0to13XfsPQV6xu0MoE8A6P4juqMF8YfZBkdApyl9Eet00JOXFzdPXeVAYMr2fr8LHO9GFsPqXGuyKNrN2KQLADCw64god47gs7wvh2dyq24RxHJyB9CICuiUtJ4U3akswuuRMoc4MnoUGqrFx9qL7yemaYODVoDt2kosW13LJ0Y4K9vldzD_cixx05ILKRZ3TzfzYrJXBa9-jT5k-W3BY3HlG_rFba8b2oiWs0rygthkL9irzGj25CMo528HjUiG58SCkpU6II9dEgfvwHaiTFjlYbx2q7F0zNttclcRYHQtSikWNzUINn1gEuE2z53iyFbBbeMHo97qvpa0GEW6y6PGL4IxiQn7u8ky_8udNIcSojD62HXa4oW-aZJuzVcdCAhbxAR4wK7lKFBUHGjo5buISkU1vgnxc_k_qF8Ka9eVm-ORoJ2PCqi0WaqFprsyacowdOmrAVc8vp5xVzvzATebQmOk6_VaZKxXf32jh62V5bi4XGCKzNuK3r0M73Uc30FD6EufXkz6T0njzQnryyjAE3bYke2DSIbqSvY0X_L_GvGzPaenJmVA0juOmLTBoJAdb6sEsYgeZU=s1070-no?authuser=0"
          alt="Artena"
        />
      </div>

      <div class="flex text-indigo-50 flex-col items-center mt-8">
        <h1 class="text-2xl font-semibold">Artena Nagara</h1>
        <p>UI Designer</p>
      </div>

      <ul class="mt-10 space-y-3">
        {
          links.map((link) => (
            <li class="hover:-translate-y-1 transition duration-150 hover:shadow">
              <a href={link.url}>
                <div class="kotak font-semibold text-lg text-white text-center tracking-wide rounded-lg w-full bg-indigo-700 hover:bg-indigo-800 duration-150 px-10 py-6">
                  {link.name}
                </div>
              </a>
            </li>
          ))
        }
      </ul>

      <ul class="flex mt-10 justify-center space-x-4">
        {
          socialLinks.map((link) => (
            <li class="hover:-translate-y-1 duration-100">
              <a href={link.url}>
                <div class="rounded-full w-[60px] h-[60px] bg-indigo-900 border-2 border-indigo-700 p-4 hover:bg-indigo-800 duration-100">
                  <img src={link.image} alt="" />
                </div>
              </a>
            </li>
          ))
        }
      </ul>
    </main>
  </body>
</html>
