---
const links = [
  {
    name: "Personal Website",
    url: "https://artenanagara.my.id",
  },
  {
    name: "Case Study",
    url: "https://medium.com/@artenanagara",
  },
  {
    name: "BuyCar Landing Page Figma",
    url: "https://www.figma.com/community/file/1220034787814175929",
  }

];

const socialLinks = [
  {
    name: "Instagram",
    url: "https://instagram.com/artenanagara",
    image: "https://cdn.simpleicons.org/instagram/white",
  },
  {
    name: "Linkedin",
    url: "https://www.linkedin.com/in/artena-nagara/",
    image: "https://cdn.simpleicons.org/linkedin/white",
  },
  {
    name: "Dribbble",
    url: "https://dribbble.com/artenanagara",
    image: "https://cdn.simpleicons.org/dribbble/white",
  },
  {
    name: "Github",
    url: "https://www.github.com/artenanagara",
    image: "https://cdn.simpleicons.org/github/white",
  },
];

const emailLinks = [
  {
    name: "Email",
    url: "mailto:artenadhytyan22@gmail.com",
  }
];
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link href="/Foto Artena.png"/>
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Artena Nagara</title>
  </head>
  <body class="bg-gradient-to-t from-neutral-700 to-neutral-900">
    <main
      class="max-w-sm w-screen min-h-screen mx-auto shadow-xl shadow-[#292828] py-20 px-5 flex flex-col items-stretch justify-center"
    >
      <div
        class="kotak rounded-lg w-[160px] min-h-[160px] h-[160px] self-center"
      >
        <img
          class="w-full h-full rounded-full"
          src="https://res.cloudinary.com/dkkgcdlzv/image/upload/v1679414380/IMG_20230319_024030_422_ktxghb.jpg"
          alt="Artena"
        />
      </div>

      <div class="flex text-indigo-50 flex-col items-center mt-8">
        <h1 class="text-2xl font-semibold">Artena Nagara</h1>
        <p>UI Designer</p>
      </div>

      <ul class="mt-10 space-y-3">
        {
          links.map((link) => (
            <li class="hover:-translate-y-1 transition duration-150 hover:shadow">
              <a href={link.url}>
                <div class="kotak font-semibold text-lg text-white text-center tracking-wide rounded-lg w-full bg-yellow-400 hover:bg-yellow-900 duration-150 px-5 py-5">
                  {link.name}
                </div>
              </a>
            </li>
          ))
        }
      </ul>

      <div>
        <h1 class="font-semibold text-white text-lg text-center mt-8">Any interesting ideas to work on?</h1>
        <p class="font-normal text-slate-200 text-center text-xs mt-2">Don't hesitate to discuss with, a cup of coffee would help brain to works</p>
      </div>
      
      <!-- 
      <div class="mt-4">
        { 
        emailLinks.map((link) => (
          <a href={link.url}>
            <div class="kotak font-semibold text-lg text-white text-center tracking-wide rounded-lg w-full bg-yellow-400 hover:bg-yellow-900 duration-150 px-2 py-2">
              {link.name}
            </div>
          </a>
          ))
          }
      </div> -->

      <ul class="flex mt-5 justify-center space-x-4">
        {
          socialLinks.map((link) => (
            <li class="hover:-translate-y-1 duration-100">
              <a href={link.url}>
                <div class="rounded-full w-[48px] h-[48px] bg-yellow-400 border-2 border-yellow-900 p-4 hover:bg-yellow-800 duration-100">
                  <img src={link.image} alt="" />
                </div>
              </a>
            </li>
          ))
        }
      </ul>
    </main>
  </body>
</html>
